{
    log {
        level WARN
    }
}

:80 {
    handle_path /api/* {
        reverse_proxy django:8000
    }

	handle_path /api/static/* {
        root * /static
        file_server
    }

    handle {
        reverse_proxy front:5173
    }
}

https://localhost {
    tls internal

    handle_path /api/* {
        reverse_proxy django:8000
    }

	handle_path /api/static/* {
        root * /static
        file_server
    }

    handle {
        reverse_proxy front:5173
    }
}